<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zero.plantoryprojectbe.profile.ProfileMapper">

    <select id="selectPublicProfile" resultType="com.zero.plantoryprojectbe.profile.dto.PublicProfileResponse">
        SELECT member_id, nickname, sharing_rate, address, notice_enabled, sharing_rate
        FROM member
        WHERE member_id = #{memberId}
        AND del_flag IS NULL
    </select>

    <select id="selectProfileInfo" parameterType="long"
            resultType="com.zero.plantoryprojectbe.profile.dto.ProfileInfoResponse">
        SELECT member_id, membername, nickname, phone, address, role, notice_enabled,sharing_rate
        FROM member
        WHERE member_id = #{memberId}
        AND del_flag IS NULL
    </select>

    <update id="updateProfileInfo" parameterType="com.zero.plantoryprojectbe.profile.dto.ProfileUpdateRequest">
        UPDATE member
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="address != null">address = #{address},</if>
            <if test="noticeEnabled != null">notice_enabled = #{noticeEnabled},</if>
        </set>
        WHERE member_id = #{memberId}
    </update>

    <update id="updateNoticeEnabled" parameterType="map">
        UPDATE member
        SET notice_enabled = #{enabled}
        WHERE member_id = #{memberId}
          AND del_flag IS NULL
    </update>

    <update id="deleteMemberById">
        UPDATE member
        SET del_flag = NOW()
        WHERE member_id = #{memberId}
          AND del_flag IS NULL
    </update>

    <update id="updatePassword">
        UPDATE member
        SET password = #{password}
        WHERE member_id = #{memberId}
    </update>

</mapper>
