<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zero.plantoryprojectbe.question.QuestionMapper">

    <select id="selectQuestionList" resultType="com.zero.plantoryprojectbe.question.dto.SelectQuestionListResponse">

        SELECT
            q.question_id      AS questionId,
            q.title            AS title,
            m.nickname         AS nickname,
            q.created_at       AS createdAt,
            q.updated_at,
            m.member_id,

            (
                SELECT COUNT(*)
                FROM answer a
                WHERE a.question_id = q.question_id
                  AND a.del_flag IS NULL
            ) AS answerCount,

            (
                SELECT i.file_url
                FROM image i
                WHERE i.target_type = 'QUESTION'
                  AND i.target_id = q.question_id
                  AND i.del_flag IS NULL
                ORDER BY i.image_id ASC, i.created_at ASC
                                  LIMIT 1
            ) AS imageUrl

        FROM question q
            JOIN member m ON q.member_id = m.member_id
        WHERE q.del_flag IS NULL
          AND m.del_flag IS NULL
          AND (#{keyword} IS NULL OR q.title LIKE CONCAT('%', #{keyword}, '%'))
        ORDER BY q.created_at DESC
            LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectQuestionTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM question q
                 JOIN member m ON q.member_id = m.member_id
        WHERE q.del_flag IS NULL
          AND m.del_flag IS NULL
          AND (#{keyword} IS NULL OR q.title LIKE CONCAT('%', #{keyword}, '%'))
    </select>


    <insert id="insertQuestion" parameterType="com.zero.plantoryprojectbe.question.dto.QuestionRequest" useGeneratedKeys="true"
            keyProperty="questionId">

        INSERT INTO question
            (member_id, title, content, created_at, updated_at, del_flag)
        VALUES
            (#{memberId}, #{title}, #{content}, NOW(), NULL, NULL);

    </insert>

    <select id="selectQuestionDetail" resultType="com.zero.plantoryprojectbe.question.dto.SelectQuestionDetailResponse">

        SELECT
            q.question_id AS questionId,
            q.member_id AS memberId,
            m.nickname AS nickname,
            q.title AS title,
            q.content AS content,
            q.created_at AS createdAt,
            q.updated_at AS updatedAt
        FROM question q
                 JOIN member m ON q.member_id = m.member_id
        WHERE q.question_id = #{questionId}
          AND q.del_flag IS NULL
          AND m.del_flag IS NULL

    </select>

    <select id="selectQuestionAnswers" resultType="com.zero.plantoryprojectbe.question.dto.SelectAnswerListResponse">

        SELECT
            a.answer_id AS answerId,
            a.writer_id AS writer_id,
            m.nickname AS nickname,
            a.content AS content,
            a.created_at AS createdAt,
            a.updated_at AS updatedAt
        FROM answer a
                 JOIN member m ON a.writer_id = m.member_id
        WHERE a.question_id = #{questionId}
          AND a.del_flag IS NULL
          AND m.del_flag IS NULL
        ORDER BY a.created_at ASC
    </select>

    <insert id="insertAnswer"
            parameterType="com.zero.plantoryprojectbe.question.dto.AnswerRequest"
            useGeneratedKeys="true"
            keyProperty="answerId">

        INSERT INTO answer
            (question_id, writer_id, content, created_at, updated_at, del_flag)
        VALUES
            (#{questionId}, #{writerId}, #{content}, NOW(), NULL, NULL);

    </insert>

    <select id="countMyAnswer" parameterType="com.zero.plantoryprojectbe.question.dto.AnswerRequest">

        SELECT COUNT(*)
        FROM answer
        WHERE answer_id = #{answerId}
          AND question_id = #{questionId}
          AND writer_id = #{writerId}
          AND del_flag IS NULL

    </select>


    <update id="updateAnswerById" parameterType="com.zero.plantoryprojectbe.question.dto.AnswerRequest">

        UPDATE answer
        SET content = #{content},
            updated_at = NOW()
        WHERE answer_id = #{answerId}
          AND question_id = #{questionId}
          AND writer_id = #{writerId}
          AND del_flag IS NULL

    </update>


    <update id="deleteAnswer" parameterType="com.zero.plantoryprojectbe.question.dto.AnswerRequest">

        UPDATE answer
        SET del_flag = NOW()
        WHERE answer_id = #{answerId}
          AND question_id = #{questionId}
          AND writer_id = #{writerId}
          AND del_flag IS NULL

    </update>

    <select id="countMyQuestion" parameterType="com.zero.plantoryprojectbe.question.dto.QuestionRequest">

        SELECT COUNT(*)
        FROM question
        WHERE question_id = #{questionId}
          AND member_id = #{memberId}
          AND del_flag IS NULL

    </select>

    <update id="updateQuestion" parameterType="com.zero.plantoryprojectbe.question.dto.QuestionRequest">

        UPDATE question
        SET title = #{title},
            content = #{content},
            updated_at = NOW()
        WHERE question_id = #{questionId}
          AND member_id = #{memberId}
          AND del_flag IS NULL

    </update>



    <update id="deleteQuestion">

        UPDATE question
        SET del_flag = NOW()
        WHERE question_id = #{questionId}

    </update>

</mapper>