<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.plantoryprojectbe.report.ReportMapper">
    <select id="selectUserIdByNickname" resultType="com.zero.plantoryprojectbe.report.dto.NameListResponse">
        SELECT member_id, nickname
        FROM member
        WHERE nickname LIKE CONCAT('%', #{nickname}, '%')
    </select>

    <insert id="insertReport" parameterType="com.zero.plantoryprojectbe.report.dto.ReportRequest"
            useGeneratedKeys="true" keyProperty="reportId" keyColumn="report_id">
        INSERT INTO report (reporter_id, target_member_id, content, status, created_at)
        VALUES (#{reporterId}, #{targetMemberId}, #{content}, #{status}, SYSDATE());
    </insert>


</mapper>
