spring:
  application:
    name: member-service
  config:
    import: "optional:configserver:${CONFIG_SERVER_URL:http://localhost:9888}"
logging:
  level:
    org:
      springframework:
        security: DEBUG
        web: DEBUG
